@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');


.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.text-container {
  flex: 1;
  padding-right: 5px;
}

.text-container h1 {
  font-family: "Bebas Neue", sans-serif; 
  font-size: 35px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out; /* Heading enters first */
  transition: transform 0.5s;
  color: #553c22;
}

.text-container p {
  font-family: "Playfair Display", serif; 
  font-size: 22px;
  margin-bottom: 10px;
  padding-right: 2px;
}

.text-container .slide-in-1 {
  animation: slideIn 1s ease-in-out 1s; /* Delay for first paragraph */
  background-color: rgb(230, 223, 215, 0.6);
  margin-right: 0px;
  /* font-family: "Apple Chancery";
  font-size: 60px; */
}

.text-container .slide-in-2 {
  animation: slideIn 1s ease-in-out 1.5s; /* Delay for second paragraph */
  background-color: rgb(230, 223, 215, 0.6);
  /* font-family: "Ubuntu";
  font-size: 60px; */
}

.text-container .slide-in-3 {
  animation: slideIn 1s ease-in-out 2s; /* Delay for third paragraph */
  /* font-family: "Bebas Neue", sans-serif; 
  color: orange;
  font-size: 120px;
  font-style: italic; */
}

.image-container {
  flex: 1;
  margin-left: 1px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.image-container img {
  width: 80%;
  height: 90%;
  animation: fadeIn 1s ease-in-out; /* Fade-in animation */
}

/* New animation for the image */
.fade-in-image {
  animation: imageSlideIn 2s ease-in-out; /* Animation to move image from left to right */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100px); /* Horizontal slide-in */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* New keyframe for the image animation */
@keyframes imageSlideIn {
  from {
    transform: translateX(100px); /* Initial position is 100px from the right */
    opacity: 0; /* Starts transparent */
  }
  to {
    transform: translateX(0); /* Final position is normal */
    opacity: 1; /* Ends opaque */
  }
}

.features-container {
  display: flex;
  justify-content: space-around; /* Distribute icons evenly */
  animation: slideInFeatures 2s ease-in-out 1.5s; /* Animation with delay */
}

.feature {
  display: flex;
  flex-direction: column; /* Stack icon and text */
  align-items: center; /* Center-align icons and text */
}

.feature-icon {
  color: #553c22; /* Dark brown for the icons */
  font-size: 40px; /* Size of the icons */
  margin-bottom: 10px; /* Space between icon and text */
  transition: transform 0.3s; /* Smooth transition for hover */
}

.feature-icon:hover {
  transform: scale(1.2); /* Scale-up effect on hover */
}

@keyframes slideInFeatures {
  from {
    transform: translateX(100px); /* Horizontal slide-in */
    opacity: 0; /* Start transparent */
  }
  to {
    transform: translateX(0); /* Normal position */
    opacity: 1; /* Fully opaque */
  }
}
